@import "h5bp";
@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";
@import "breakpoint";
@include h5bp-normalize;
@include h5bp-base-styles;
@include h5bp-chromeframe;

// Breakpoints for responsive design
$phones: only screen max-width 480px;
$large-phones: only screen max-width 767px;
$tablet: only screen 768px;
$desktop-small: only screen 980px;
$desktop-medium: only screen 1200px;
$desktop-large: only screen 1600px;
$not-handheld: not handheld;



// Colors
$color-main: #BC4C2E;
$color-main-lighter: lighten($color-main, 10);
$color-main-highlight: lighten($color-main, 20);
$color-main-darker: darken($color-main, 20);

$color-main-text: #515151;

$color-complement: #E3E5CF;
$color-complement-lighter: lighten($color-complement, 10);
$color-complement-darker: darken($color-complement, 20);

$color-highlight: rgba(255, 255, 255, 0.2);
$color-shadow: rgba(0, 0, 0, 0.2);

$color-action: #619E9E;
$color-ok: #448400;
$color-warning: #FF8F08;
$color-error: #C11717;

$background-color: #F2F2F2;

*{
	@include box-sizing(border-box);
}
// clearfix
@mixin cf{
	*zoom: 1;
	&:before,
	&:after {
	    content: " ";
	    display: table;
	}
	&:after {
	    clear: both;
	}
}

@mixin gradient ($color-top, $color-bottom) {
	background: $color-top;
	@include background-image(linear-gradient($color-top, $color-bottom));
}
@mixin redbox{
	@include gradient($color-main-lighter, $color-main);
	border: 0.1rem solid $color-main-darker;
	@include box-shadow(inset 0 0.1rem 0 0 $color-main-highlight);
}
@mixin redheader{
	width: 100%;
	color: $color-complement;
	@include gradient($color-main-lighter, $color-main);
	border-bottom: 0.1rem solid $color-main-darker;
	@include box-shadow(inset 0 0.1rem 0 0 $color-main-highlight);
	padding: 0.5rem 1rem;
}
@mixin button($btnBgColor: $color-main, $btnBorderColor: darken($btnBgColor, 20), $btnTextColor: $color-complement){
	padding: 0.4rem;
	width: 100%;
	font-size: 2.4rem;
	height: 4.8rem;
	color: $btnTextColor;
	@include gradient(lighten($btnBgColor, 10), $btnBgColor);
	border: 0.1rem solid $btnBorderColor;
	@include box-shadow(inset 0 0.1rem 0 0 $color-highlight, 0 0.2rem 0 0 $color-shadow);
	&:active{
		padding: 0.5rem 0.4rem 0.3rem;
		@include box-shadow(inset 0 0.1rem 0 0 $color-shadow);
	}
}
@mixin lightbox{
	background-color: $color-complement;
	border: 0.1rem solid $color-complement-darker;
	@include box-shadow(inset 0 0.1rem 0 0 $color-complement-lighter);
}
@mixin textbox{
	background-color: $color-complement;
	border: 0.1rem solid $color-complement-darker;
	@include box-shadow(inset 0 0.2rem 0 0 $color-complement-darker);
}
@mixin textboxonred{
	padding: 0.4rem;
	background-color: $color-complement;
	border: 0.1rem solid $color-main-darker;
	@include box-shadow(inset 0 0.2rem 0 0 $color-complement-darker, 0 0.1rem 0 0 $color-main-highlight);
}
@mixin circle ($size, $border-color){
	border-radius: 50%;
	border: 0.1rem solid $border-color;
	width: $size;
	height: $size;
}
@mixin app-section{
	position: relative;
	height: 100%;

	@include breakpoint($tablet) {
		float: left;
		overflow-y: auto;
	}
}
@mixin taskbox{
	position: relative;
	height: 4.8rem;
	padding: 0.4rem;

	h3{
		font-size: 2.1rem;
		margin: 1rem 0 0;
		line-height: 1em;
	}
	p{
		display: none;
		font-size: 1.4rem;
		margin: 0;
		line-height: 1em;
	}
	ol.pomodoros{
		padding: 0;
		margin: 0;
		width: 4rem;
		position: absolute;
		top: 0.3rem;
		right: 0.3rem;

		li{
			position: relative;
			@include circle (1rem, $color-main-text);
			overflow: hidden;
			float: left;
			margin-right: 0.5rem;
			margin-bottom: 0.5rem;
			padding: 0;
			background-color: lighten($color-main-text, 20);
			@include box-shadow((inset 0 0.1rem 0 0 $color-shadow, 0 0.1rem 0 0 $color-highlight));

			&:nth-child(3n){
				margin-right: 0;
			}
			&.active{

			}
			&.ended{
				border-color: $color-main-darker;
				background-color: $color-main;
				@include box-shadow((inset 0 0.1rem 0 0 $color-highlight, 0 0.1rem 0 0 $color-highlight));
			}
			&.interrupted{
				border-color: darken($color-warning, 30);
				background-color: $color-warning;
				@include box-shadow((inset 0 0.1rem 0 0 $color-highlight, 0 0.1rem 0 0 $color-highlight));

			}
			&.broken{
				background-color: #C11717;
				border-color: #770600;
				@include box-shadow((inset 0 0.1rem 0 0 $color-highlight, 0 0.1rem 0 0 $color-highlight));
			}
		}
	}
	@include breakpoint($desktop-small) {
		border-left: none;
	}
}