<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Welocome to Pompom</title>
		<link rel="stylesheet" href="../assets/css/main.css">
	</head>
	<body id="login">
		<main role="main">
			<img src="../assets/img/logo.png" class="logo">
			<h1>Welocome to Pompom</h1>
			<h3>The best pomodoro app in the world</h3>
			<div class="loginOptions">
				<h3>How would you like to login?</h3>
				<button class="google">google</button>
				<button class="facebook">facebook</button>
			</div>
			<p>What is Pompom and the Pomodoro technique?</p>
		</main>
		<section class="extras">
			<h3>Temporary login form:</h3>
			<form class="loginForm" method="post">
				<label> Email:</label>
				<input type="email" placeholder="email" name="email">
				<input type="submit" id="submit" value="Login" class="button">
			</form>
		</section>
	</body>
</html>