<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login to pompom</title>
        <link rel="stylesheet" href="../assets/css/main.css">
    </head>
    <body id="login">
        <main role="main">
            <h1>Login</h1>
            <form class="loginForm" method="post">
                <label> Email:</label>
                <input type="email" placeholder="email" name="email">
                <input type="submit" id="submit" value="Login" class="button">
            </form>
        </main>
        <section class="extras">
            <h3>WHAT IS THE POMODORO TECHNIQUE?</h3>
            <p>It is a time management method created by Francesco Cirillo in the 1980s that helps you accomplish what you want to do by transforming time into a valuable ally. Why is it so popular? ﻿Because it is easy to use, and most of all, because it works!</p>
            <iframe src="http://player.vimeo.com/video/52607761?byline=0&amp;portrait=0&amp;color=e03d31" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/52607761">The Pomodoro Technique</a> from <a href="http://vimeo.com/pomodoro">Pomodoro Master</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
        </section>
    </body>
</html>