@import url("http://fnt.webink.com/wfs/webink.css/?project=3AC395CE-F178-4C47-8528-73CA3386ED53&fonts=12FD0F01-C741-2AB4-78FE-CECD1BE87FB9:f=Calluna-BoldIt,5DD1A08F-E08C-456F-FB29-61CA507CEAB4:f=AktivGrotesk-Light,3A13BFCA-7DC7-D1EE-757E-40EF7086214E:f=Calluna-Regular,4CFB49CB-EBCD-45D1-8C1A-D9B64EAC409C:f=Calluna-It,49084C4C-16B8-3BE4-468D-A83E50D809C7:f=AktivGrotesk-Medium");

@import "h5bp";
@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";
@import "breakpoint";
@include h5bp-normalize;
@include h5bp-base-styles;
@include h5bp-chromeframe;

// Breakpoints for responsive design
$phones: only screen 480px;
$large-phones: only screen 481px;
$tablet: only screen 768px;
$desktop-small: only screen 980px;
$desktop-medium: only screen 1200px;
$desktop-large: only screen 1600px;
$not-handheld: not handheld;

$border-radius: 0.3rem;
// Fonts
$font-x-large: 3.2rem;
$font-large: 2.8rem;
$font-medium: 2.1rem;
$font-text: 1.6rem;

$font-main: AktivGrotesk-Light;
$font-alternative: AktivGrotesk-Medium;

@mixin font-heading{
	font-family: $font-main;
} 

// Colors
$color-main: #BC4C2E;
$color-main-lighter: lighten($color-main, 5);
$color-main-highlight: lighten($color-main, 20);
$color-main-darker: darken($color-main, 20);

$color-main-text: #515151;

$color-complement: #E3E5CF;
$color-complement-lighter: lighten($color-complement, 10);
$color-complement-darker: darken($color-complement, 40);

$color-highlight: rgba(255, 255, 255, 0.2);
$color-shadow: rgba(0, 0, 0, 0.2);
$color-shadow-deep: rgba(0, 0, 0, 0.4);

$color-action: #619E9E;
$color-ok: #448400;
$color-warning: #FF8F08;
$color-error: #C11717;

$background-color: #F2F2F2;

*{
	@include box-sizing(border-box);
}
#{headings()}{
	@include font-heading;
	color: $color-main-darker;
}
h1{font-size: $font-x-large}
h2{font-size: $font-large}
h3{font-size: $font-medium}
h4{font-size: $font-text}

@mixin gradient ($color-bottom: $color-main, $color-top: lighten($color-bottom, 10) ) {
	background: $color-top;
	@include background-image(linear-gradient($color-top, $color-bottom));
}
@mixin boxed($bgColor: $color-main-lighter){
	@include box-shadow(inset 0 0.1rem 0 0 $color-highlight);
	@include border-radius($border-radius);
	background-color: $bgColor;
	border: 0.1rem solid darken($bgColor, 30);
}
@mixin transparentBox($color: white, $alpha: 0.5, $borderRadius: $border-radius){
	background-color: rgba($color, $alpha);
	@include border-radius($borderRadius);
}
@mixin redheader{
	@include boxed;
	@include font-heading;
	width: 100%;
	color: $color-complement;
	padding: 0.5rem 0.4rem;
}
@mixin button($btnBgColor: $color-main-lighter, $btnBorderColor: darken($btnBgColor, 30), $btnTextColor: $color-complement){
	@include font-heading;
	@include border-radius($border-radius);
	@include box-shadow(inset 0 0.1rem 0 0 $color-highlight, 0 0.2rem 0 0 $color-shadow);
	background-color: $btnBgColor;
	background-position: center;
	background-repeat: no-repeat;
	padding: 0.4rem;
	width: 100%;
	font-size: $font-large;
	height: 4.8rem;
	color: $btnTextColor;
	border: 0.1rem solid $btnBorderColor;
	&:active{
		@include box-shadow(inset 0 0.1rem 0 0 $color-shadow);
		padding: 0.5rem 0.4rem 0.3rem;
	}
}
@mixin lightbox{
	@include box-shadow(inset 0 0.1rem 0 0 $color-complement-lighter);
	background-color: $color-complement;
	border: 0.1rem solid $color-complement-darker;
}
@mixin textbox{
	@include border-radius($border-radius);
	@include box-shadow(inset 0 0.2rem 0 0 $color-shadow);
	background-color: $color-complement;
	border: 0.1rem solid $color-complement-darker;
}
@mixin textboxonred{
	@include border-radius($border-radius);
	padding: 0.4rem;
	background-color: $color-complement;
	border: 0.1rem solid $color-main-darker;
	@include box-shadow(inset 0 0.2rem 0 0 $color-shadow, 0 0.1rem 0 0 $color-highlight);
}
@mixin circle ($size, $border-color){
	border-radius: 50%;
	border: 0.1rem solid $border-color;
	width: $size;
	height: $size;
}
@mixin app-section{
	position: relative;
	height: 100%;

	@include breakpoint($tablet) {
		overflow-y: auto;
	}
}
@mixin taskbox{
	color: $color-main-darker;
	border-bottom: 0.2rem solid $color-main-darker;
	height: 4.8rem;
	padding: 0.4rem;
	position: relative;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;

	h3{
		font-size: $font-medium;
		margin: 1rem 0 0;
		line-height: 1em;
		color: $color-complement;
	}
	p{
		display: none;
		font-size: $font-text;
		margin: 0;
		line-height: 1em;
	}
	ol.pomodoros{
		padding: 0;
		margin: 0;
		width: 8.2rem;
		position: absolute;
		top: 0.3rem;
		right: 0.3rem;

		li{
			position: relative;
			@include circle (1.6rem, $color-main-darker);
			overflow: hidden;
			float: left;
			margin-right: 0.6rem;
			margin-bottom: 0.6rem;
			padding: 0;
			background-color: darken($color-main, 10);
			@include box-shadow((inset 0 0.1rem 0 0 $color-shadow, 0 0.1rem 0 0 $color-highlight));

			img{
				height: 100%;
				width: auto;
				position: absolute;
				top: 0;
				left: 0;
			}
			&:nth-child(4n){
				margin-right: 0;
			}
			&.fresh{

			}
			&.ended{
				background-color: $color-main;
				@include box-shadow((inset 0 0.1rem 0 0 $color-highlight, 0 0.1rem 0 0 $color-highlight));
			}
			&.interrupted{
				border-color: darken($color-warning, 30);
				background-color: $color-warning;
				@include box-shadow((inset 0 0.1rem 0 0 $color-highlight, 0 0.1rem 0 0 $color-highlight));
			}
			&.broken{
				background-color: #C11717;
				border-color: #770600;
				@include box-shadow((inset 0 0.1rem 0 0 $color-highlight, 0 0.1rem 0 0 $color-highlight));
			}
			&.active{
				background-color: #619E9E;
				border-color: #3B5B5A;
				@include gradient($color-action);
			}
		}
	}
}
@mixin standardform{
	position: relative;
	padding: 0.4rem;

	input[type="text"],
	input[type="submit"],
	textarea{
		width: 100%;
	}
	input{
		font-family: $font-main;
		height: 4.8rem;
	}
	input[type="text"],
	input[type="number"],
	textarea{
		margin-bottom: 0.4rem;
		font-size: $font-medium;
		@include textboxonred
	}
	textarea{
		height: 6.4rem;
		font-size: $font-text;
	}
	input[type="number"]{
		float: right;
		width: 6.4rem;
		text-align: center;

		&::-webkit-inner-spin-button{
			-webkit-appearance: none;
			margin: 0;
			display: none;
		}
		/*@include breakpoint($tablet) {
			&::-webkit-inner-spin-button{
				display: inherit;
		    border-left: .1rem solid $color-main-darker;
		    @include border-top-right-radius(0.2rem);
		    @include border-bottom-right-radius(0.2rem);
		    background-color: $color-main-darker;
		    background-image: url("../img/icon_spinner.svg"), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d3674a), color-stop(100%, #bc4c2e));
				background-image: url("../img/icon_spinner.svg"), -webkit-linear-gradient(#d3674a,#bc4c2e);
				background-image: url("../img/icon_spinner.svg"), -moz-linear-gradient(#d3674a,#bc4c2e);
				background-image: url("../img/icon_spinner.svg"), -o-linear-gradient(#d3674a,#bc4c2e);
				background-image: url("../img/icon_spinner.svg"), linear-gradient(#d3674a,#bc4c2e);
				background-position: center;
		    @include box-shadow(inset 0 0.1rem 0 0 $color-highlight, 0 0.2rem 0 0 $color-shadow);
		    width: 24px;
			}
		}*/
	}
	label{
		font-family: $font-main;
		display: inline-block;
		margin-top: 1rem;
		font-size: $font-medium;
		color: $color-main-darker;
	}

	input[type="checkbox"] {
		position: absolute;
		left: 0;
		width: 1px;
		height: 1px;
		opacity: 0;

		&:checked + label span{
			background-image: url("../img/icon_check.svg");
			background-position: center;
		}
	}
	label.targetLabel { 
	  display: inline-block;
	  cursor: pointer;
	  padding-right: 4rem;
	  font-size: $font-text;
	  height: 3.2rem;
	  margin: 0 0 0.4rem;
	  line-height: 2.2em;

	  span{
	  	@include textboxonred;
	  	display: inline-block;
			width: 3.2rem;
			height: 3.2rem;
			position: absolute;
			right: .4rem;
	  }
	}

	input[type="submit"]{
		@include button($color-action, darken($color-action, 30));
		background-image: url("../img/icon_check.svg");
		background-position: center;
		background-repeat: no-repeat;
		color: transparent;
		text-indent: 12rem
	}
}
