@import "base";

html {
	font-size: 62.5%;
	height: 100%;
	//min-height: 100%;
	background-color: white;
}
body{
	font-size: $font-text;
	height: 100%;
	margin: 0;
	position: relative;
	padding-top: 4.2rem;
}
a{
	color: $color-complement;
	text-decoration: none;
}
.ielt9info{
	display: none;
}
.lt-ie9 .ielt9info{
	display: block;

}

#pageheader{
	@include redbox;
	@include clearfix;
	padding: 0.4rem;
	height: 4.2rem;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;


	h1 {
		padding-left: 2rem;
		line-height: 1em;
		background: transparent url("../img/icon_pompom.svg") left center no-repeat;
		float: left;
		margin: 0;
		a{
			color: $color-complement;
			font-size: $font-large;
		}
	}
	nav{
		float: right;
		a{
			padding: 1rem 0 0.8rem;
			display: inline-block;
			color: $color-complement;
		}
	}
}
#login{
	main{
		width: 51rem;
		margin: 0 auto;
		padding: 0 0.5rem 0.5rem;
		@include transparentBox(white, 0.35);

		h1{
			width: 50rem;
			margin: 0 auto;
		}
		form {
			@include redbox;
			margin: 0 auto;
			padding: 0.4rem;

			input{
				height: 4.8rem;
			}
			label{
				display: none;
				font-size: $font-medium;
				color: $color-main-darker;
			}
			input[type="email"]{
				width: 100%;
				margin-bottom: 0.4rem;
				font-size: $font-medium;
				@include textboxonred
			}
			input[type="submit"]{
				@include button($color-action, darken($color-action, 30));
			}
		}
	}
	.extras{
		width: 51rem;
		margin: 1rem auto;
		padding: 0.5rem;
		@include transparentBox(white, 0.35);
		color: $color-main-text;
		
		h3{
			margin-top: 0;
		}
		a{
			color: $color-main-text;
			text-decoration: underline;
		}
	}
}
#taskCreator{
	@include redbox;
	position: relative;
	padding-top: 0px;

	h2{
		@include redheader;
		margin: 0;
	}
	.mobileControls{
		padding: 0.4rem;

		button.expand{
			@include button;
		}
	}
	form.expanded{
		display: block;
	}
	form{
		@include standardform;
		display: none;
	}

	@include breakpoint($tablet) {
		position: fixed;
		bottom: 0;
		left: 33%;
		width: 67%;
		height: 5.8rem;
		z-index: 10;
		border-left: none;
	}
	@include breakpoint($desktop-small) {
		width: 25%;
		position: initial;
		float: right;
		height: 100%;

		form{
			display: block;
		}
		.mobileControls{
			display: none;
		}
	}
}
#tasks{
	@include clearfix;
	@include app-section;
	
	@include breakpoint($tablet) {
		width: 67%;
		padding-bottom: 27rem;
	}
	@include breakpoint($desktop-large) {
		width: 50%;
		padding-bottom: 0;
	}
	
	ol.taskList{
		padding: 0;
		margin: 0;
		list-style: none;

		& > li{
			@include taskbox;

			&.sortable-placeholder{
				background-color: transparent;
				border: 0.1rem solid $color-shadow;
				@include box-shadow(inset 0 0.2rem 0 0 $color-shadow, 0 0.1rem 0 0 $color-highlight);
			}
		}


		
	}
	#today{
		ol.taskList{
			& > li{
			}


		}
	}
	#inventory{
		
	}
}
#timer {
	@include clearfix;
	@include redbox;
	@include app-section;
	border-top: none;
	overflow: hidden;

	@include breakpoint($tablet) {
		width: 33%;
	}
	h2{
		@include redheader;
		position: absolute;
		margin: 0;
		top: 0;
		left: 0;
	}
  .top {
      position: relative;
      height: 50%;
      border-bottom: 0.2rem solid $color-main-darker;

        #currentTaskTitle{
            margin: 0;
            padding-top: 3rem;
            text-align: center;
            color: $color-complement;
            font-weight: normal;
        }
        .timegradeholder{
            position: absolute;
            bottom: .2rem;
            left: 50%;
            margin-left: -0.1rem;
            transition: margin-left 0.500s;
						-webkit-transition: margin-left 0.500s; /* Safari */

            .numbers{
                margin-left: -1.4rem;

                span{
                    color: $color-complement;
                    display: inline-block;
                    width: 3rem;
                    text-align: center;
                    margin-right: 2rem;
                    font-size: $font-medium;
                }
            }
            img{
                width: 65rem;
                height: auto;
                margin-right: 3rem;
            }
        }
  }
  .bottom {
    position: relative;
    height: 50%;
    border-top: 1px solid $color-main-highlight;

      .arrowholder{
          padding: .1rem 0 0;
          width: 100%;
          text-align: center;
      }
      #controls{
      	padding: 1rem 20%;
        button {
        	@include button;
        	margin-top: 1rem;
        }
        button#interruptPomodoro{
        	@include button($color-warning, darken($color-warning, 30), darken($color-warning, 30));
        	display: none;
        	float: left;
        	width: 48%;
        	margin-right: 4%;

        	img{
        		height: 3.8rem;
        		width: auto;
        	}
        }
        button#breakPomodoro{
        	@include button($color-error, darken($color-error, 30), darken($color-error, 30));
		  		display: none;
		  		float: left;
        	width: 48%;

        	img{
        		height: 3.8rem;
        		width: auto;
        	}
		  	}
      }
  }
  &.active{
  	.bottom {
  		#controls{
		  	button#startPomodoro{
		  		display: none;
		  	}
		  	button#interruptPomodoro,
		    button#breakPomodoro{
		  		display: initial;
		  	}
		  }
		}
  }
}
.popup{
	position: absolute;
	z-index: 20;
	background-color: $color-shadow;
	width: 100%;
	height: 100%;
	padding: 10%;
	top: 0;
	left: 0;
	
	.content{
		@include redbox;
		@include border-radius($border-radius);
		max-width: 40rem;
		margin: 0 auto;
		height: 100%;

		form{
			@include standardform;
		}
	}
}
/************ Responsive Layout *************/

@include breakpoint($tablet) {
	#tasks{
		position: relative;

		h2{
			@include redheader;
			position: absolute;
			border-top: none;
			border-left: none;
			margin: 0;
			width: 50%;
			left: 0;
			top: -50px;
		}
		#today{
			position: absolute;
			top: 50px;
			width: 100%;

		}
		#inventory{
			position: absolute;
			top: 50px;
			width: 100%;

			h2{
				left: 50%;
			}
		}
	}
}

@include breakpoint($desktop-small) {
	html{
		background-color: rgb(180, 207, 207);
		//background-image: url("../img/green_dust_scratch.png");
		background-position: center;
		background-attachment: fixed;
		background-repeat: repeat;
	}
	body {
		padding: 6.2rem 3rem 3rem;
		font-family: Calluna-Regular;
	}
	#timer{
		width: 20%;
		height: 25rem;
		margin-right: 2%;
		border-top: 0.1rem solid $color-main-darker;
	}
	#taskCreator{
		position: absolute;
		width: 19%;
		@include calc(width, "(100% - 60px) * 0.2");
		left: 3rem;
		top: 33.2rem;
		border-top: 0.1rem solid $color-main-darker;
		height: 29rem;

		form{
			@include clearfix;
		}
	}
	#tasks{
		width: 78%;
		padding-bottom: 0;
		overflow: visible;

		h2{
			position: absolute;
			width: 98%;
			line-height: 1em;
			top: 0.4rem;
			left: 0.4rem;
			font-size: $font-x-large;
			color: rgb(180, 207, 207);
			margin: 0;
			z-index: 0;
			background: none;
			border: none;
			@include box-shadow(none);
		}
		ol.taskList{
			padding: 4.8rem 0.5rem 0.5rem;
			& > li{
				margin-bottom: 0.8rem;
			}
		}
		#today{
			top: auto;
			position: relative;
			width: 64%;
			margin-right: 2%;
			float: left;
			@include transparentBox(white, 0.35);
			min-height: 100%;

			ol.taskList{
				& > li:first-child,
				&.topfix > li:nth-child(2){
					//height: 10.4rem;
				}
			}
		}
		#inventory{
			top: auto;
			position: relative;
			width: 34%;
			float: left;
			@include transparentBox(white, 0.35);
			min-height: 100%;

			h2{
				left: 0.4rem;
			}
		}
	}
}
