@import "base";

html {
	font-size: 62.5%;
	height: 100%;
	//min-height: 100%;
	background-color: $color-main;
}
body{
	font-size: $font-text;
	height: 100%;
	margin: 0;
	padding: 1rem;
	position: relative;
	font-family: AktivGrotesk-Light;
	//padding-top: 4.2rem;
}
a{
	color: $color-complement;
	text-decoration: none;
}
.ielt9info{
	display: none;
}
.lt-ie9 .ielt9info{
	display: block;

}

#pageheader{
	text-align: center;
	width: 100%;
	margin: 2rem 0 4rem;

	img{
		max-width: 25%;
		height: auto;
	}
}
#login{
	main{
		width: 34rem;
		margin: 0 auto 6rem;
		text-align: center;

		img.logo{
			width: 80%;
			height: auto;
		}
		h1{
			margin: 0;
		}
		h3{
			margin: 0;
		}
		.loginOptions{
			margin: 3rem 0;
			padding: 0 0 1rem;
			@include clearfix;

			h3{
				margin: 0 0 1rem;
			}
			.google{
				@include button(#df4a32);
				width: 49%;
				margin-right: 2%;
				float: left;
				display: block;
			}
			.facebook{
				@include button(#3864a3);
				width: 49%;
				float: left;
				display: block;
			}
		}
		
	}
	.extras{
		width: 34rem;
		margin: 0 auto;

		h3{
			margin: 0;
		}
		form {
			@include boxed;
			margin: 0 auto;
			padding: 0.4rem;

			input{
				height: 4.8rem;
			}
			label{
				display: none;
				font-size: $font-medium;
				color: $color-main-darker;
			}
			input[type="email"]{
				width: 100%;
				margin-bottom: 0.4rem;
				font-size: $font-medium;
				@include textboxonred
			}
			input[type="submit"]{
				@include button($color-action);
			}
		}
	}
}
#mainNav
{
	@include clearfix;
	padding: 0 0 1rem;
	margin: 0 1rem;

	a
	{
		display: block;
		float: left;
		margin: 0 1rem 0 0;
		padding: 0 .4rem;
		@include boxed();
		@include box-shadow(inset 0 0.1rem 0 0 $color-highlight, 0 0.2rem 0 0 $color-shadow);
		background-position: center;
		background-repeat: no-repeat;
		color: transparent;
		font-size: 0;
		width: 4.8rem;
		height: 4.8rem;

		&.timerLink{
			background-image: url("../img/icon_clock.svg");
		}
		&.todayLink{
			background-image: url("../img/icon_check.svg");
		}
		&.inventoryLink{
			background-image: url("../img/icon_list.svg");
		}
		&:active,
		&.current
		{
			color: $color-main-lighter;
			@include boxed(darken($color-main, 10));
			@include box-shadow(inset 0 0.2rem 0 0 $color-shadow, 0 0.1rem 0 0 $color-highlight);
		}
	}

}
#today,
#inventory
{
	clear: left;
	position: relative;
	margin: 0;
	display: none;
	margin: 0 1rem;

	&.active
	{
		display: block;
	}

	h2
	{
		display: none;
	}
	form.createTaskForm
	{
		@include standardform;
		@include clearfix;
		padding: 0;
		padding-bottom: 1rem;

		input[type="text"]
		{
			@include experimental-value(width, calc(100% - 11.6rem));
			float: left;
			margin-bottom: 0;
		}

		input[type="submit"],
		input[type="number"]
		{
			width: 4.8rem;
			margin-left: 1rem;
			display: block;
			float: left;
			margin-bottom: 0;
		}
		input[type="submit"]
		{
			background-image: url("../img/icon_star.svg");
		}
	}
	ol.taskList
	{
		padding: 0;
		list-style: none;

		& > li
		{
			@include taskbox;
			left: 0;

			.timeStripe
			{
				position: absolute;
				bottom: -0.2rem;
				left: 0;
				height: 2px;
				width: 0%;
				background-color: $color-complement;
			}

			h3
			{
				font-size: $font-large;
				margin-top: 0;
				line-height: 1.5em;
			}
			&.sortable-placeholder
			{
				background-color: transparent;
				border: 0.1rem solid $color-shadow;
				@include box-shadow(0 0.1rem 0 0 $color-highlight);
			}
		}
	}
}
#timer {
	@include clearfix;
	overflow: hidden;
	display: none;
	margin: 0 1rem;

	&.active
	{
		display: block;
	}
	.top
	{
		position: relative;
		height: 20rem;
		border-bottom: 0.2rem solid $color-main-darker;

		#currentTaskTitle
		{
			margin: 0;
			padding-top: 3rem;
			text-align: center;
			color: $color-complement;
			font-weight: normal;
		}
		#currentTaskPomodoros
		{
			padding: 0;
			margin: 0;
			text-align: center;

			li
			{
				position: relative;
				@include circle (1.6rem, $color-main-darker);
				overflow: hidden;
				display: inline-block;
				margin: 0 0.3rem;
				padding: 0;
				background-color: darken($color-main, 10);
				@include box-shadow((inset 0 0.1rem 0 0 $color-shadow, 0 0.1rem 0 0 $color-highlight));

				img{
					height: 100%;
					width: auto;
					position: absolute;
					top: 0;
					left: 0;
				}
				&.fresh{

				}
				&.ended{
					background-color: $color-main;
					@include box-shadow((inset 0 0.1rem 0 0 $color-highlight, 0 0.1rem 0 0 $color-highlight));
				}
				&.interrupted{
					border-color: darken($color-warning, 30);
					background-color: $color-warning;
					@include box-shadow((inset 0 0.1rem 0 0 $color-highlight, 0 0.1rem 0 0 $color-highlight));
				}
				&.broken{
					background-color: #C11717;
					border-color: #770600;
					@include box-shadow((inset 0 0.1rem 0 0 $color-highlight, 0 0.1rem 0 0 $color-highlight));
				}
				&.active{
					background-color: #619E9E;
					border-color: #3B5B5A;
					@include gradient($color-action);
				}
			}
		}
		.timegradeholder
		{
			position: absolute;
			bottom: .2rem;
			left: 50%;
			margin-left: -0.1rem;
			transition: margin-left 0.500s;
			-webkit-transition: margin-left 0.500s; /* Safari */

			.numbers{
				margin-left: -1.4rem;

				span{
					color: $color-complement;
					display: inline-block;
					width: 3rem;
					text-align: center;
					margin-right: 2rem;
					font-size: $font-medium;
				}
			}
			img{
				width: 65rem;
				height: auto;
				max-height: 2rem;
				margin-right: 3rem;
			}
		}
	}
	.bottom {
		position: relative;
		height: 20rem;
		border-top: 1px solid $color-highlight;

		.arrowholder{
			padding: .1rem 0 0;
			width: 100%;
			text-align: center;
		}
		#controls{
			padding: 0 0 1rem;
			margin: 2rem auto 0;
			width: 10.6rem;
			text-align: center;
			button
			{
				@include button;
				width: 4.8rem;
				margin: 0 auto;
				color: transparent;
				background-image: url("../img/icon_clock.svg");
			}
			button#interruptPomodoro
			{
				display: none;
				@include button($color-warning, darken($color-warning, 30), transparent);
				width: 4.8rem;
				background-image: url("../img/icon_interrupted.svg");
				margin: 0 1rem 0 0;
				float: left;
			}
			button#breakPomodoro
			{
				display: none;
				@include button($color-error, darken($color-error, 30), transparent);
				width: 4.8rem;
				background-image: url("../img/icon_broken.svg");
				float: left;
			}
		}
	}
	&.running{
		.bottom {
			#controls{
				button#startPomodoro{
					display: none;
				}
				button#interruptPomodoro,
				button#breakPomodoro{
					display: block;
				}
			}
		}
	}
}
.popup
{
	position: absolute;
	z-index: 20;
	background-color: $color-shadow;
	width: 100%;
	height: 100%;
	padding: 10%;
	top: 0;
	left: 0;

	.content
	{
		@include boxed;
		@include border-radius($border-radius);
		max-width: 40rem;
		margin: 0 auto;
		height: 100%;

		form
		{
			@include standardform;
		}
	}
}
/************ Active Timer *************/

body.active ol.taskList li:not(:first-child),
body.active #tasks h2,
body.active #tasks form,
body.active #timer button#startPomodoro{
	-webkit-animation: fadeout 0.5s;
	opacity: 0;
}
body.active #today ol.taskList li:first-child,
body.active #timer button#interruptPomodoro,
body.active #timer button#breakPomodoro{
		opacity: 1;
		display: block;
}

/************ Responsive Layout *************/
@include breakpoint($large-phones)
{
	#mainNav,
	#timer,
	#today,
	#inventory
	{
		margin:0 5.8rem;
	}
	

}
@include breakpoint($tablet)
{

	body
	{
		width: 64rem;
		padding: 3rem 0;
		margin: 0 auto;
	}
	#today,
	#inventory
	{
		form.createTaskForm{
			display: block;
			@include clearfix;

			input[type="text"]{
				width: 40.8rem;
				float: left;
			}
		}

		ol.taskList{
			padding: 0;
		}
	}
}