<button class="expand">New Task</button>
<form id="createTask" name="createTask" method="post" action="/tasks/">
    <input clas="title required" id="createTaskTitle" name="title" type="text" pattern=".+" required placeholder="Title"/>

    <label for="createTaskInitialEstimate">Estimate</label>
    <input class="initialEstimate required" id="createTaskInitialEstimate" name="initialEstimate" type="number" min="1" max="12" required/>

    <textarea class="description" id="createTaskDescription" name="description" type="text" placeholder="Description"></textarea>

    <input name="createTask" type="submit" id="taskcreatorbutton" value="Create"/>
</form>


