<div class="mobileControls">
	<button class="expand">New Task</button>
</div>
<form id="createTask" name="createTask" method="post" action="/tasks/">
    <input class="title required" id="createTaskTitle" name="title" type="text" pattern=".+" required placeholder="Title"/>

    <label for="createTaskInitialEstimate"># Poms</label>
    <input class="initialEstimate required" id="createTaskInitialEstimate" name="initialEstimate" type="number" min="1" max="12" required placeholder="1"/>

    <textarea class="description" id="createTaskDescription" name="description" type="text" placeholder="A short description of the task"></textarea>

    <input type="checkbox" id="createTaskTargetList" name="targetList" value="inventory" class="checkbox">
    <label class="targetLabel" for="createTaskTargetList"><span></span>Add task to inventory</label>

    <input name="createTask" type="submit" id="taskcreatorbutton" value="Create"/>
</form>


