@(tasks: Seq[model.Task])

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Tasklist</title>
    </head>
    <body>
        <h1>Tasks</h1>

        <main role="main">
            <h2>Task list</h2>
            <ul class="tasks">
            @for(t <- tasks) {
                <li><a id="@t.id" href="/tasks/@t.id">@t.title</a></li>
            }
            </ul>

            <h2>New task</h2>
            <form class="createTask" name="createTask" method="post" action="/tasks/">
                <label>Title</label>
                <input clas="title required" name="title" type="text" pattern="...+"required/>
                
                <label>Estimate</label>
                <input class="initialEstimate required" name="initialEstimate" type="number" min="1" max="12" required/>
                
                <label>Description</label>
                <textarea class="description" name="description" type="text"></textarea>
                
                <input name="createTask" type="submit" value="Create"/>
            </form>
        </main>
    </body>
</html>
