@(tasks: Seq[model.Task])

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Tasklist</title>
    </head>
    <body>
        <h1>Tasks</h1>

        <main role="main">
            <h2>Task list</h2>
            <ul class="tasks">
            @for(t <- tasks) {
                <li><a id="@t.id" href="/tasks/@t.id">@t.title</a></li>
            }
            </ul>

            <h2>New task</h2>
            <form id="createTask" name="createTask" method="post" action="/tasks/">
                <label for="createTaskTitle">Title</label>
                <input clas="title required" id="createTaskTitle" name="title" type="text" pattern=".+" required/>

                <label for="createTaskInitialEstimate">Estimate</label>
                <input class="initialEstimate required" id="createTaskInitialEstimate" name="initialEstimate" type="number" min="1" max="12" required/>

                <label for="createTaskDescription">Description</label>
                <textarea class="description" id="createTaskDescription" name="description" type="text"></textarea>
                
                <input name="createTask" type="submit" value="Create"/>
            </form>
        </main>
    </body>
</html>