@(userId: String)

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Pompom - app</title>

    <!--[if lt IE 9]>
    <script src="/assets/javascripts/thirdparty/html5shiv.js"></script>
    <![endif]-->


    <link rel="stylesheet" href="/assets/stylesheets/normalize.css">
    <link rel="stylesheet" href="/assets/stylesheets/app.css">
</head>
<body>
    <section id="spalshScreen">
        <h1>Welcome to Pompom</h1>
        <h3>building your app</h3>
    </section>
    <header class="clearfix">
        <menu id="MainMenu">
            <a id="timerLink" class="active">Timer</a>
            <a id="userId">You</a>
        </menu>
    </header>
    <div id="Deck">
        <section id="timer" class="card redGradient">
            <audio id="alarm" src="/assets/sound/11710__connum__ringing.mp3" >  
                Your browser does not support the <code>audio</code> element.  
            </audio>
            <div class="top">
                <h1 id="currentTaskTitle"> </h1>
                <div class="timegradeholder">
                    <div class="numbers"><span>0</span><span>5</span><span>10</span><span>15</span><span>20</span><span>25</span><span>30</span><span>35</span><span>40</span><span>45</span><span>50</span><span>55</span><span>60</span></div>
                    <img src="/assets/images/timegrades.svg">
                </div>
            </div>
            <div class="bottom">
                <div class="arrowholder">
                    <img src="/assets/images/arrow.svg">
                </div>
                <div class="tasktracker">
                    <span class="done"></span><span class="done"></span><span class="done"></span><span></span><span></span><span></span><span></span><span></span>
                </div>
            </div>
        </section>

    </div>
    <script src="/assets/javascripts/thirdparty/jquery-1.9.0.min.js"></script>
    <script src="/assets/javascripts/app.js"></script>
    <script src="/assets/javascripts/deck.js"></script>
    <script src="/assets/javascripts/task.js"></script>
    <script src="/assets/javascripts/timer.js"></script>
</body>

</html>