@(content: Html)

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="assets/css/main.css">
    <script src="assets/js/vendor/head.load.min.js"></script>
    <script type="text/javascript">
        head.js("assets/js/vendor/modernizr-2.6.2.min.js", "assets/js/vendor/jquery-2.0.0.min.js", "assets/js/jquery.sortable.custom.js", "assets/js/plugins.js", "assets/js/main.js",
                function() {


                });
    </script>
</head>
<body>
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <div class="ielt9info info">This App does not work in your browser</div>
    <header id="pageheader">
        <h1><a href="/">pompom</a></h1>
        <nav>
            <a href="/me" class="user">Victor Baquero Wihlborg</a>
        </nav>
    </header>

    @content
</body>
</html>