@(content: Html)

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Pompom</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" type="image/png" href="assets/img/icon/favicon.ico" sizes="64x64">
    <link rel="icon" href="assets/img/icon/16.png" sizes="16x16" />
    <link rel="icon" href="assets/img/icon/24.png" sizes="24x24" />
    <link rel="icon" href="assets/img/icon/32.png" sizes="32x32" />
    <link rel="icon" href="assets/img/icon/40.png" sizes="40x40" />
    <link rel="icon" href="assets/img/icon/48.png" sizes="48x48" />
    <link rel="icon" href="assets/img/icon/64.png" sizes="64x64" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="assets/css/main.css">
    <script data-main="assets/js/main" src="assets/js/vendor/require.js"></script>
</head>
<body>
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <div id="loader"><img src="../assets/img/logo.png"><h3>Loading Pompom</h3></div>
    <div class="ielt9info info">This App does not work in your browser</div>
    <header id="pageheader">
        <section id="navbar">
            <nav id="mainNav">
                @navigation()
            </nav>
        </section>
        <img src="../assets/img/logo.png">
    </header>
    @content
</body>
</html>