<audio id="alarm" src="/assets/audio/11710__connum__ringing.mp3">
    Your browser does not support the <code>audio</code> element.
</audio>
<div class="top">
    <h1 id="currentTaskTitle">Current Task Title</h1>
    <ol id="currentTaskPomodoros"><li>Pom</li></ol>

    <div class="timegradeholder">
        <div class="numbers">
            <span>0</span><span>5</span><span>10</span><span>15</span><span>20</span><span>25</span>
        </div>
        <img src="assets/img/timegrades.svg">
    </div>
</div>
<div class="bottom">
    <div class="arrowholder">
        <img src="assets/img/arrow.svg">
    </div>
    <div id="controls">
        <button id="startPomodoro" type="submit" formmethod="post" formaction="/tasks/startPomodoro">start</button>
        <button id="interruptPomodoro" type="submit" formmethod="post" formaction="/tasks/interruptPomodoro">interrupt</button>
        <button id="breakPomodoro" type="submit" formmethod="post" formaction="/tasks/breakPomodoro">break</button>
    </div>
</div>
