<audio id="alarm" src="/assets/audio/11710__connum__ringing.mp3">
    Your browser does not support the <code>audio</code> element.
</audio>
<div class="top">
    <h1 id="currentTaskTitle"></h1>

    <div class="timegradeholder">
        <div class="numbers">
            <span>0</span><span>5</span><span>10</span><span>15</span><span>20</span><span>25</span><span>30</span><span>35</span><span>40</span><span>45</span><span>50</span><span>55</span><span>60</span>
        </div>
        <img src="assets/img/timegrades.svg">
    </div>
</div>
<div class="bottom">
    <div class="arrowholder">
        <img src="assets/img/arrow.svg">
    </div>
</div>