@(userId: String)

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Pompom - app</title>

    <!--[if lt IE 9]>
    <script src="/assets/javascripts/thirdparty/html5shiv.js"></script>
    <![endif]-->


    <link rel="stylesheet" href="/assets/stylesheets/normalize.css">
    <link rel="stylesheet" href="/assets/stylesheets/main.css">
</head>
<body>
    <header class="clearfix">
        <nav id="MainMenu">
            <a href="http://www.pompom.nu:9000">About</a>
            <a href="http://app.pompom.nu:9000">App</a>
            <a href="http://api.pompom.nu:9000">API</a>
            <a href="http://www.pompom.nu:9000/auth/login">Log in</a>
        </van>
    </header>
    <div id="Main">
        <h1>Welcome to Pompom</h1>
        <p>This is probably the best pomodoro app in the world</p>

    </div>
    <script src="/assets/javascripts/thirdparty/jquery-1.9.0.min.js"></script>
</body>

</html>